[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/orkungdk/api-gateway
[submodule "integration"]
	path = integration
	url = https://github.com/orkungdk/integration
[submodule "time-tracker"]
	path = time-tracker
	url = https://github.com/orkungdk/time-tracker
[submodule "scrumier-proxy"]
	path = scrumier-proxy
	url = https://github.com/orkungdk/scrumier-proxy
[submodule "commons"]
	path = commons
	url = https://github.com/orkungdk/commons
[submodule "config"]
	path = config
	url = https://github.com/orkungdk/config
[submodule "authentication"]
	path = authentication
	url = https://github.com/orkungdk/authentication
[submodule "scrumier-ui"]
	path = scrumier-ui
	url = https://github.com/orkungdk/scrumier-ui
[submodule "scrumier-version-control"]
	path = scrumier-version-control
	url = https://github.com/orkungdk/scrumier-version-control
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/orkungdk/discovery-server
[submodule "scrumier-devops"]
	path = scrumier-devops
	url = https://github.com/orkungdk/scrumier-devops
